---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>

		<h1>Sobre nosotros...</h1>

        <h2>Nosotros somos un equipo de emprendedores con una gran ambición por crear un negocio próspero y duradero, vendiendo los móviles con mejor calidad en el mercado.</h2>
	</body>
</html>
