---
const platform = "github";
const username = "Noriel1";
import Social from './Social.astro';
---

<footer>
  <p>¡Más información sobre mis proyectos en <a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="Twitter" username="astrodotbuild" />
  <Social platform="Github" username="withastro" />
  <Social platform="Youtube" username="astrodotbuild" />
</footer>